*{
    padding:0;
    margin:0;
    background: white;
    color:black;
}
#wrap{
    display: grid;
    width:2000px;
    margin: 0 auto;
    gap:20px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
}
#nav{ /*여기에 한번에 주면 i태그 따로 안줘도 간격나열할수있었엉...*/
    width:1300px;
    display: grid;
    justify-self:center;
}
#main_text{
    width:1120px;
    display: grid;
    justify-content: center;
}
#nav i{ 
    display: grid;
    justify-content:end;
}
#main_text h2{ 
    margin-right: 20px;
} 
#menu_list{
    display: grid;
    justify-content: end;
}
#menu_list ul{
    display: grid;
    justify-content:center;
    grid-template-rows: repeat(1,60px);
    grid-template-columns: repeat(5,60px);
    width:1200px;
    gap: 17px;
}
#menu_list ul li:nth-child(1){text-decoration:underline;}
ul{list-style-type: none;}
#section{
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows:repeat(2,400px);
    gap: 20px;
    justify-content: center;
}
.picture{
    border-radius:5px;
    overflow: hidden;
}
.picture:nth-child(1){
    background:url(../image/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture:nth-child(2){
    background:url(../image/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture:nth-child(3){
    background:url(../image/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture:nth-child(4){
    background:url(../image/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture:nth-child(5){
    background:url(../image/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture:nth-child(6){
    background:url(../image/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#footer{
    margin-top: 50px;
    display: grid;
    justify-content: center;
}
#myclient{
    display: grid;
    justify-content:space-around;
    grid-template-rows: repeat(1,150px);
    grid-template-columns: repeat(6,150px);
}
#myclient h6{
    text-align:center;
    margin:20px;
    font-size: 30px;
    color:gray;
}
#footer h1{
    font-size: 40px;
    text-align: center;
}
#footer p{
    font-size: 25px;
    text-align: center;
}
#footer a{
    font-size: 20px;
    text-align: left;
}
#news_p{
    display: grid;
    margin-top: 80px;
    grid-template-rows: repeat(1,400px);
    grid-template-columns: repeat(4,300px);
    gap:20px;
    justify-content: center;
}
.news{
    border:1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
.news i{
    margin:20px;
    font-size: 45px;
}
.news h2, p{ margin: 20px;}

#copyright{
    display:grid;
    justify-content: left;
    margin-top: 50px;
}
.sns{ /*여기 간격이랑 일자로 나열하려면 부모태그에 했어야했어...*/
    display: grid;
    justify-content:end;
    grid-template-rows: repeat(1,10px);
    grid-template-columns: repeat(4,10px);
    gap:15px;
}
