*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background:#353535;
    color:#B4B4B4;
}
#wrap{
    width:90%;
    margin: 20px auto;
}
#header{
    display: flex;
    align-items: center;
    gap:20px;
}