:root{
    --bs-green:#27a776; /*가상의 변수생성 :root{ --변수이름: } (ex)--title-size:20px; */
    --bsgray:#e9ecef;
}
*{
    padding:0;
    margin:0;
    color:white;
    background:black;
}
#wrap{
    margin: 0 auto;
    width:1680px;
    display:grid; /*display: flex가 맞는데 grid 연습*/
    justify-content: center;
    gap:20px;
    grid-template-columns:1rf;
    grid-template-rows:450px 1450px 100px;
}
ul{list-style-type: none;}
#nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:15px;
    align-items: center;
    position:sticky;/*스크롤 시 다른콘텐츠와 어울리게 하려면 sticky*/
    top:0;
}
.webTitle{
    font-size:30px;
}
.webTitle i{color:var(--bs-green);}
.menu ul{
    display:grid;
    grid-template-columns: repeat(5,1rf);
}
.sns{
    justify-content: end;
    display:grid;
    grid-template-columns:repeat(4,1rf);
    column-gap: 15px;
}
.sns i::before{color:var(--bsgray);}
#main_text{
    margin-top: 50px;
    display:grid;/*그리드 수평*/
    justify-content:center;
    height:150px;
    grid-template-rows: auto;
}
#main_text h2{
    font-size:40px;
}
#main_text p{
    justify-self: center;/*각 아이템*/
}
#main_text a{
    justify-self:center;/*각 아이템*/
    background:var(--bs-green);
    align-self:center;/*각 아이템*/
    padding:10 30px;
    border-radius: 5px;
}
#section{
    /*1줄 4개 씩*/
    display:flex;
    grid-template-columns: repeat(4,400px);
    /*너비가 같은경우에 repeat 너비가 다를 경우에는 따로 지정 400 500 600 200px 이런식으로*/
    grid-template-rows: repeat(4,300px);
    gap:20px;
}
.picture{
    border-radius: 5px;
    overflow:hidden;
}
.picture:nth-child(1){
    background: url(../image/1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(2){
    background: url(../image/2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(3){
    background: url(../image/3.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(4){
    background: url(../image/4.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(5){
    background: url(../image/5.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(6){
    background: url(../image/6.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(7){
    background: url(../image/7.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(8){
    background: url(../image/8.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(9){
    background: url(../image/9.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(10){
    background: url(../image/10.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(11){
    background: url(../image/11.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(12){
    background: url(../image/12.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(13){
    background: url(../image/13.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(14){
    background: url(../image/14.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(15){
    background: url(../image/15.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.picture:nth-child(16){
    background: url(../image/16.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}


