*{box-sizing:border-box;} /*border-box  테두리를 기준으로 크기를 정한다. */
body,ul,p,h1,h2,h3,h4,h5,ol,dl{
    margin:0;
    padding:0;
}
a{text-decoration: none;}/*a태그에 링크 삽입시 글씨 밑에 밑줄을 없애고 싶은경우*/
a:hover{text-decoration:underline;}/*a태그적용한버튼에 마우스를 가져가면 글씨 밑에 밑줄이 생김*/
ul{list-style-type:none;}
#wrap{
    width:85%; /*%로 설정해서 브라우저 크기에 따라 줄었다가 늘었다가*/
    min-width:500px;
    max-width:1200px;
    margin:50px auto;
}
.line{
    border-bottom:2px solid #487BE1;
}
#menu{
    display:flex;
    justify-content: space-around; 
    margin-bottom: 20px;
}
.menu_bt{
    font-size:25px;
    display:inline-block;
    padding:10px 20px;
    background:#90E4FF;
    color:#00004B;
    font-weight:900;
    border-radius:5px;
    /*text-shadow: 0px 0px 2px #353535;글자 그림자 효과 내주기*/
}
/*
 버튼색 각각 다른색으로 설정하고 싶다면 해당자식태그에 각각 설정하면 된다.
 menu.menu_bt:nth-child(1){background}
*/
.menu_icon{ 
    display:none;/*메뉴아이콘이 화면에 안보이게 */
    position:relative; /*position도 줘서 위치를 고정함*/
}
/*
    이하 : max-width
    이상 : min-width
    웹 제작을 1. pc 우선으로 제작 시 max-width 2.모바일 제작을 우선으로 제작 시 min-width
*/
@media screen and (max-width:786px){ /*띄어쓰기필수*/
    .menu_icon{
        display: block;/*최대크기가 786 보다 커지면 안보이게 작아지면 보이게*/
    }
    .menu_bt{
        display:none; /*메뉴버튼이 너비보다 작아지면 버튼3개가 안보인다.*/
    }
    #menu{ /*메뉴가 왼쪽으로 이동*/
        display:block; /*menu공간을 유용하게 쓰기위해 flex에서 block으로 설정을 바꿔주고 position도 줘서 위치를 고정함*/
        position:relative;
    } 
}
.strapIcon{
    font-size:30px;
    cursor:pointer;/*클릭하면 글자가 보였다가 안보였다가*/
}
/*.strapIcon:active ~ .menu_list{ ~ 형제태그다 
    display:block;
}*/
.menu_list{
    display: none;/**클릭하면 글자가 보였다가 안보였다가*/
    position:absolute; /*자신의 부모태그 기준으로 기준점이 바뀜 */
    background: whitesmoke;/*색을 안주니까 밑줄이 보여*/
    width:100%;
    font-size:30px;
    color:#00004B;
    box-shadow: 0px 3px 5px #487BE1;
}
.list_bt{
    padding:10px;
    display:block;
}
.list_bt:hover{
    background:#BDBDBD;
    color:white;
}
.list_active{
    display:block;
}
.makeTable{
    border-spacing: 0;
    width:400px;
    margin:50px auto;
    font-size:20px;
}
.makeTable tr .numTd:first-child{
    border:0;
    width:100px;
}
.numTd{
    border:3px solid #00004B;
    width:50px;
    height:50px;
    text-align:center;
    border-radius: 80%;
}
