*{
    padding:0;
    margin:0;
}
#map{
    width:1000px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    row-gap:20px;/*줄 간격*/
}
.station{
    width:100px;
    text-align: center;
    position:relative;
}
.mark{/*mark를 줘야 rail설정가능 여기가 부모.*/
    position:relative;
}
.rail{/*mark의 자식*/
    position:absolute;
    width:100%;
    height:5px;
    top:9px;
    background:#FFBB00;
    z-index:-1;
}
.fa-regular{
    background:white; /*위에 rail 선이 아이콘 뒤로간다.*/
}
/*border-top-right-radius 오른쪽상단에만굴곡이들어감*/
.w95{ width: 95%;}/*w95 == rail*/
.w95-top{
    border-top-right-radius: 33px;
}
.w95-bottom{
    border-bottom-right-radius: 33px;
}
.w95-top-right{
    left:5%;
    border-top-left-radius: 33px;
}
.w95-bottom-right{
    left:5%;
    border-bottom-left-radius: 33px;
}
.rad{
    width:100px;
    height:90px;
    position:absolute;
    top:30px;
    border:5px solid #FFBB00;
    border-radius: 10px;
}
.left{border-style:none solid none none;}
.right{border-style:none none none solid;}
