/*default.css 메인--웹 페이지 화면 위치 설정*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul,ol{list-style-type:none;}
input{outline:none; border:0;}
a{text-decoration: none;}
a:visited{color:transparent;}/*색상과 투명도*/

#wrap{
    position:relative;
    max-width:1600px;
    margin:0 auto;
    background: white;
}
#header{
    position:absolute;
    top:0;
    width:100%;
    z-index: 10;
}
#logo{
    position:absolute;
    width:200px;
    top:48px;
    left:10%;
    z-index: 100;
}
#logo a{
    width:100%;
}
#logo a img{
    width:100%;
}
#navigation{
    position:absolute;
    top:0;
    width:100%;
}
#top_menu{
    background:rgba(0,0,0,0.7);/*반투명 검정,배경색 70%*/
    font-size:17px;
    padding:2px 0 4px 0;
}
.top_wrap{
    max-width:1180px;
    width:96%;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.top_wrap .hours{
    display: flex;
    color:white;
    align-items: center;
    width:310px;
}
.top_wrap .hours a{
    display: block;
    color:white;
    background: #558000;
    padding:8px;
    margin-left:10px;
    text-shadow: -1px -1px 1px #230;
}
.top_wrap .top_linkes{
    width:calc(100% - 310px - 30px);
    display: flex;
    justify-content: end;
    padding:3px 0;
    padding-right:10px;
    align-items: center;
    border-right: 1px dotted white;
}
.top_wrap .top_linkes a{
    color:#f90;
    display:inline-block;
    padding:0 10px;
}
.top_wrap .top_linkes .become{
    color:#993800;
    background: #f90;
    border-radius: 4px;
    padding:4px 8px;
    font-weight: 800;
    margin:4px;
}
.top_wrap .search_button{
    color:#f90;
    font-size: 20px;
    padding: 0 12px;
    cursor:pointer;
}
.top_wrap .search_bar{
    position:absolute;
    z-index:11;
    top:0;
    left:0;
    width:100%;
    padding:200px 6%;
    background-color: lightgray;
}
.top_wrap .search_bar div{
    width:800px;
    margin:0 auto;
    position:relative;
}
.top_wrap .search_bar #s{
    width:100%;
    font-size: 30px;
    padding:5px;
    height:60px;
}
.top_wrap .search_bar .srh_button{
    position:absolute;
    top:0;
    right:0;
    height:60px;
    width:26%;
    border:0;
    background:#686868;
    font-size: 20px;
    color:white;
    cursor: pointer;
    font-weight: 900;
}
.top_wrap .search_bar .search_close{
    color:#686868;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top:4px;
    width: calc(100% - 12%);
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.sub-block{ /* <div class="sub-block"> 이미지 네 장있는곳*/
    display: none; 
    position:absolute;
    display: flex;
    top:40px;
    width:1000px;
    background:white;
    justify-content: space-between;
}
.sub-block .sub-item{
    padding:10px;
    width:230px;
}
.main_menu .toplink .sub-block a{
    color:rgba(0,0,0,0.7);
    display:block;
}
.main_menu .toplink .sub-block .sub-item h3{
    color:#558000;
    
}
.main_menu .toplink a:hover ~ .sub-block{

}
#nav{
    background:linear-gradient(rgba(0,0,0,0.6)20%,rgba(0,0,0,0)100%);/*그라데이션 효과 : 시작색, 끝나는 색 지정*/
    height:80px;
    
}
.main_menu{
    display: flex;
    color:white;
    max-width: 1000px;
    margin:0 auto;
    justify-content: space-between;
    height:80px;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
}
.main_menu .toplink{
    position:relative;
}
.main_menu .toplink a{
    color: white;
}
#banner{
    
}