.game{
   display: flex;
   flex-direction: column;
   align-items: center; 
}
.com_image_box p:hover{
    cursor:pointer;
    background:#FFB9B9;
}
.user_image_box p:hover{
    cursor:pointer;
    background: #FFE08C;
}
.com_image_box img{
    width:400px;
    height:400px;
    margin :10px;
    padding-top:50px;
}
.user_image_box img{
    width:400px;
    height:400px;
    margin :10px;
    padding-top:50px;
}
.button_box{
    margin:20px;
    font-size:50px;
}
.button_box button{
    padding:20px;
    font-size:40px;
    border-radius:100%;
    background-color: black;
    color:white;
}
.res{
    font-size:50px;
    margin: 20px;
}